/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}

.vue-shadow-sm{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
}
.vue-shadow{
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important
}
.vue-shadow-md{
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important
}
.vue-shadow-lg{
    box-shadow: 0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12)!important;
}
.shadow-md{
    @apply border-t-[2px] border-gray-300/25
}
.hover\:shadow-md:hover{
    @apply border-t-[2px] border-gray-300/25
}


*,::before,::after{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}
ul,ol{list-style-position: inside;}
ul{padding:0;margin:0;padding-inline-start:0}
ul li{display: list-item}
h1,h2,h3,h4,h5{margin:0;font-weight: 700;font-size: initial}
a{text-decoration:none;color:inherit}
textarea,button{outline:none;@apply border-0 border-gray-300 border-solid; cursor:pointer;background-color:inherit;color:inherit}
button:focus{outline:none}
p{
    margin-block: 0;
}
*{
    @apply border-solid border-gray-300;
}
input,button,optgroup,select,textarea{
    font-family:inherit;font-size:100%;font-weight:inherit;color:inherit;line-height:inherit;margin:0;padding:0;
    @apply border-solid border-[1px] border-gray-300 pl-3
}
button{
    @apply pl-0;
}
input:focus,select:focus-visible,input:focus-visible,textarea:focus-visible{outline:none}
/* Chrome, Safari, Edge, Opera */
input.hide-arrows::-webkit-outer-spin-button,
input.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.hide-arrows[type=number] {
    -moz-appearance: textfield;
}
button{
    @apply border-0
}
.dropdown-cont .dropdown,.dropdown-cont .dropdown.flex{display:none}
.dropdown-cont:hover>.dropdown{display:initial}
.dropdown-cont:hover>.dropdown.flex{display:flex}
.dropdown-cont:hover>.dropdown.block{display:block}
.dropdown-cont:hover>.dropdown.inline{display:inline}
.dropdown-cont:hover>.dropdown.grid{display:grid}
.input-absolute-label:focus + .absolute-label,.input-valid + .absolute-label,
.input-invalid + .absolute-label{top: 0;color: #1476f2;font-size: smaller}
.input-invalid {@apply border-red-300}

img, video {
    max-width: 100%;
    height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}
.img-overlay{
    @apply absolute top-0 right-0 bottom-0 left-0 z-1
}
.cover-div{
    @apply absolute top-0 right-0 bottom-0 left-0
}

/*.hover\\pause-animation:hover{animation-play-state: paused}*/

.custom-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.custom-scroll.scroll-0::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/*.scroll-0 ::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/
/*.scroll-0{*/
/*    -ms-overflow-style: none;  !* IE and Edge *!*/
/*    scrollbar-width: none;  !* Firefox *!*/
/*}*/

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/*.scroll-0 ::-webkit-scrollbar-track,.scroll-0::-webkit-scrollbar-thumb {*/
/*    border-radius: 0;*/
/*}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: #98CB00;
}*/
.v-center{transform:translateY(-50%)}
.h-center{transform:translateX(-50%)}
.vh-center{transform:translate(-50%,-50%)}


.section{
    /*@apply w-90% md:w-80% mx-auto;*/
    @apply w-90% mx-auto;
}
@media (min-width: 1220px) {
    .lg\:section{
        @apply w-80% mx-auto
    }

}
.page-bullet{
    @apply h-3 w-3 rounded-full bg-slate-400 mr-2;
}
.page-bullet.page-bullet-active{
    @apply bg-primary w-8  rounded-pill;
}


*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}